.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #111;
    border-radius: 4px;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    min-width: 200px;
    
    &::before {
      display: block;
      box-sizing: border-box;
      content: "";
      height: 12px;
      width: 12px;
      position: absolute;
      top: -1px;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: #111;
      border-left: 1px solid rgb(102, 102, 102);
      border-top: 1px solid rgb(102, 102, 102);
      border-radius: 4px 0px 0px;
  }
  }
  
  .language_item {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: 8px 16px;
    color: #ccc;
    font-size: 16px;
    cursor: pointer;
  }
  
  .language_item:hover {
    background-color: #333;
    color: var(--primary);
  }
  .nav_content{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;

    .nav_title{
        font-size: small;
    }

    &:hover{
        color: var(--primary);
    }
}
@media (max-width: 576px) {
  .nav_title {
    display: none;
  }
}