.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0;
    width: 100%;
    height: 60px;
    transition: background-color 0.5s linear;
    background-color: rgb(155, 153, 153);
    
    .navContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1; 
    }
    .navbar {
      height: 100%;
      margin: 0 auto;
      padding: 0 64px;
      display: flex;
      align-items: center;
      width: 100%;
      background-color: none; // Đổi sang nền tối
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      transition: background-color 0.3s ease;
    }
  
    .brand {
      margin: 0;
      color: var(--text-color)
    }
  
    .avatar {
      object-fit: cover;
      border-radius: 999px;
    }
  }
  .left_header{
    display: flex;
    justify-content: space-between;
    gap: 13px;
    .nav_item{
      &:hover{
        color: var(--primary);
      }
    }
  }
  .right_header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
  }

// @media (max-width: 969px) {
//   .right_header {
//     gap: 8px;
//   }
// }